/* You can add global styles to this file, and also import other style files */

*,*::before,*::after{
    box-sizing: border-box;
}

@import 'assets/styles/normalize.css';

body{
    background-color: #181919;
    font-family: 'Poppins', sans-serif;
}